<div class="show-comm">
    <mat-accordion #myaccordion="matAccordion" multi="true">
      <mat-expansion-panel class="dest" *ngFor="let destination of destinations">
        <mat-expansion-panel-header>
          <p>{{destination.city}}, {{destination.country}}</p>
        </mat-expansion-panel-header>
        
        <div class="content">
          <h1>Komentari</h1>
          <div *ngFor="let comment of destination.comments">
            <div class="comment-section">
              <div class="comment-info">
                <span><strong>ID Korisnika:</strong> {{comment.user}}</span>
                <span><strong>Datum:</strong> {{comment.date | date: 'dd/MM/yyyy'}}</span>
                <span><strong>Komentar:</strong> {{comment.message}}</span>
              </div>
              <button mat-button (click)="deleteComment(destination._id, comment._id)">Obriši komentar</button>
            </div>
          </div>
          <div *ngIf="!destination.comments || destination.comments.length === 0">
            <p>Nema komentara za ovu destinaciju.</p>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  