*{
    display: flex;
    flex-direction: column;
}
.show-comm{
    display: flex;
    padding-top: 35px;
    padding-bottom: 70px;
    align-items: center;
    background-color: #e7eaec;
  }
  
.dest {
    margin-bottom: 20px;
}
mat-expansion-panel-header{
    display: flex;
}
  
.content{
    width: 100%;
    z-index: 1;
}

.content h1, p{
  font-size: 20px;
  padding: 5px;
  font-weight: bold;
  color: #2C3E50; 
  font-family: "Lucida Handwriting", "Brush Script MT", cursive;
  margin: auto;
  margin-top: 20px;
}

.comment-section {
    display: flex;
    align-items: center;
    padding: 10px;
}

.comment-info{
    width: 100%;
}

mat-expansion-panel-header p{
    margin: 0;
    padding: 5px;
}

mat-expansion-panel{
    border-radius: 30px;
    background-color: #fff;
    border: 3px solid #58AEC4;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.9);
    overflow: hidden;
}

.comment-info span{
    margin-top: 5px;
    margin-bottom: 10px;
    width: 350px;  
}

mat-action-row{
    display: flex;
    flex-direction: row;
}

button{
    background-color: #eb5f5f;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 300px;
}
  
button:hover{
    background-color: #ac0202;
}
