<div class="container">

  <div class="container-items">

    <div id="logo">
      <a href=""><img src="assets/images/airplane.png"></a>
    </div>
    <div id="left">
      <button mat-button routerLink="/home">Početna stranica</button>
      <button mat-button routerLink="/discovery">Aranžmani</button>
      <button mat-button routerLink="/reservation" *ngIf="u != null">Rezervacije</button>
    </div>

  </div>

  <div id="right">
    <button mat-button (click)="toggleLoginForm()" *ngIf="u==null">Prijava</button>
    <button mat-button (click)="toggleRegisterForm()" *ngIf="u==null">Registracija</button>
    <button mat-button *ngIf="u!=null && u.username !== 'Admin'" style="margin-right: 10px;">{{u?.username}}</button>
    <button mat-button (click)="logoutUser()" *ngIf="u!=null">Odjava</button>
    <button mat-button *ngIf="u!=null && u.username === 'Admin'" style="margin-right: 10px;" (click)="redirectToAdmin()">{{u?.username}}</button>
  </div>

</div>

<div id="sandwich">

  
  <label  for="toggle"><mat-icon>arrow_drop_down</mat-icon></label>
  <input type="checkbox" id="toggle"/>
  
  <div id="menu">
    <button mat-button routerLink="/home">Početna stranica</button>
    <button mat-button routerLink="/discovery">Aranžmani</button>
    <div>
      <button mat-button (click)="toggleLoginForm()" *ngIf="u==null">Prijava</button>
      <button mat-button (click)="toggleRegisterForm()" *ngIf="u==null">Registracija</button>
      <button mat-button *ngIf="u!=null" style="width: 120px;">{{u?.username}}</button>
      <button mat-button (click)="logoutUser()" *ngIf="u!=null">Odjava</button>
    </div>
  </div>

</div>


<div class="login" *ngIf="showLogin" >

  <form [formGroup]="LogInForm" (ngSubmit)="loginUser()">

    <div class="form-title">
      <h1>Prijava</h1>
      <h1 style="cursor: pointer;"><a (click)="toggleLoginForm()"><mat-icon>cancel</mat-icon></a></h1>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Korisničko ime</mat-label>
      <input matInput formControlName="username">
      <mat-error>Najmanji broj karaktera je 5, a najveći 20.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Lozinka</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-error>Mora sadržati najmanje 8 karaktera.</mat-error>
    </mat-form-field>

    <button mat-button type="submit" id="form-btn">Prijava</button>

  </form>
  
  <button mat-button id="reg-btn" (click)="toggleLoginForm(); toggleRegisterForm()">Nemate kreiran profil? | Registrujte se</button>

</div>

<div class="register" *ngIf="showRegister">

  <form [formGroup]="RegisterForm" (ngSubmit)="createUser()">

    <div class="form-title">
      <h1>Registracija</h1>
      <h1 style="cursor: pointer;"><a (click)="toggleRegisterForm()"><mat-icon>cancel</mat-icon></a></h1>
    </div>

    <div id="names">
      <mat-form-field appearance="fill">
        <mat-label>Ime</mat-label>
        <input matInput formControlName="firstName">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Prezime</mat-label>
        <input matInput formControlName="lastName">
      </mat-form-field>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Korisničko ime</mat-label>
      <input matInput formControlName="usernameReg">
      <mat-error>Najmanji broj karaktera je 5, a najveći 20.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Lozinka</mat-label>
      <input matInput type="password" formControlName="passwordReg">
      <mat-error>Mora sadržati najmanje 8 karaktera.</mat-error>
    </mat-form-field>

    <button mat-button type="submit" id="form-btn">Registracija</button>

  </form>
  
  <button mat-button id="reg-btn" (click)="toggleRegisterForm();toggleLoginForm()">Imate kreiran profil? | Prijavite se</button>

</div>